[Desktop Entry]
Version=1.0
Name=Mobolith Core
Comment=Mobolith P2P Cryptocurrency
Comment[fr]=Mobolith, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Mobolith, eşten eşe kriptografik sanal para birimi
Exec=mbt-qt %u
Terminal=false
Type=Application
Icon=pivx128
MimeType=x-scheme-handler/mbt;
Categories=Office;Finance;
StartupWMClass=mbt-qt
